*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    height:100vh;
    overflow: hidden;
}
.wrap{
    width: 100%;
    height:100%;
    position: relative;
}
.live-img{
    left: 30px;
    top: 12px;
    width: 42px;
    position: fixed;
    z-index: 2;
}
.heart-wrap{
    left: 77px;
    top: 28px;
    width: 100px;
    position: fixed;
    z-index: 2;
}
.heart-wrap img{
    width: 20px;
} 